<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Play is an interactive design agency focused on creative communication, web, mobile & paper design">
	<title>Play</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/standard.css?3" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px)" href="css/ipad.css?2" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 320px) and (max-device-width: 600px)" href="css/mobile.css"/>	
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="data/data.js?2"></script>
	<script type="text/javascript" src="app/app.js?6"></script>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29168193-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	</script>	
</head>
<body id="load">


	<video id="video" loop>
  		<source src="media/video/w.mp4" type="video/mp4" />
  		<source src="media/video/w.webm" type="video/webm" />
	</video>
	<div id="playvideo">play/stop video</div>

	<div id="goleft"></div>
	<div id="goright"></div>
	
	<div id="header">
		<img src="media/theme/logo.png">
	    <h2 id="nav_works" rel="works">Wiew work</h2>
	    <h2 id="nav_vision" rel="vision">let your brand fly</h2>
	    <h2 id="nav_services" rel="services">free newsletter</h2>
	    <h2 id="nav_contact" rel="contact">Contact us</h2>
	</div>
	
	<div id="p_index">
		<h2 rel="works">view work /</h2>
		<h2 rel="vision">let your brand fly /</h2>
		<h2 rel="services">free newsletter /</h2>
		<h2 rel="contact">contact us /</h2>
	</div>
	
	<div id="p_vision">
		<h2>developing<br>the unique voice<br>of your brand</h2>
		<p>In a world of mass markets and digital reproduction, originality and creativity are still the greatest treasure for a company.
Our work is discover that treasure, and make sure that everyone, in the world, could appreciate it.</p>
		<img src="media/theme/st1.png" id="st1">
		<div id="butterfly">
			<div id="wing1"></div>
			<div id="wing2"></div>		
		</div>
	</div>
	
	<div id="p_contact">
		<h2>Valuable<br>alliances can<br>start with<br>just an email</h2><br>	
		<p>
			<strong>Main contact</strong><br>
			<em><a href="mailto:write@playdesigngroup.com">write@playdesigngroup.com</a></em><br>
			<strong>Partnership & jobs</strong><br>
			<em><a href="mailto:obs@playdesigngroup.com">jobs@playdesigngroup.com</a></em><small></small>
			<strong>Headquarters</strong><br>
			<em><a href="http://g.co/maps/jc2fp">Viale Terza Armata 1, 31100 Treviso - Italy</a></em><br>
			<strong>Venice facility</strong><br>
			<em><a href="http://g.co/maps/2dqhx">Via della Libertà 12, 30175 Marghera - Italy</a></em><br>
			<strong>London facility</strong><br>
			<em><a href="http://g.co/maps/jq35f">Hub Kings Cross, 34b York Way, London N1 9AB, UK</a></em><br>
			<em>PI 042758559585</em>
		</p>
	</div>

	<div id="p_services">
		<h2>The only free<br>newsletter<br>customized for<br>your brand</h2>
		<p>Insights about brand experience and effective marketing, customized for your business field and your brand. It's a premium service, but for free.</p>



		<form action="http://playdesigngroup.us4.list-manage1.com/subscribe/post?u=f87c677df42018e0d483296b8&amp;id=1303837b9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
			
			<label for="mce-EMAIL">Your email (required)</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		
			<label for="mce-MMERGE2">Your company (optional)</label>
			<input type="text" value="" name="MMERGE2" class="" id="mce-MMERGE2">
			
			<label for="mce-MMERGE1">Your business field (optional)</label>
			<input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1">			
			
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</form>


	</div>


	<div id="p_work">
		<div id="work_content">
			<div id="wrap"></div>		
		</div>		
	</div>
	
	<div id="p_works">
		<ul id="worklist"></ul>
	</div>

	<div id="footer">© 2012 Play.  All rights reserved</div>
</body>
</html>